In [17]:
import pandas as pd
import argparse
import numpy as np

In [18]:
df=pd.read_csv("C:/Users/Swarupa/Desktop/Terrorism.csv")

C:\Users\Swarupa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (4,6,31,33,53,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [20]:
df = df[df.imonth != 0]
df = df[df.iday != 0]

In [21]:
del df["approxdate"]

In [22]:
df['extended'].replace(0, 'No',inplace=True)
df['extended'].replace(1, 'Yes',inplace=True)

In [23]:
df=df.fillna("None")

In [24]:
df.head()

,eventid,iyear,imonth,iday,extended,resolution,country,country_txt,region,region_txt,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,No,None,58,Dominican Republic,2,Central America & Caribbean,...,None,None,None,None,PGIS,0,0,0,0,None
5,197001010002,1970,1,1,No,None,217,United States,1,North America,...,"The Cairo Chief of Police, William Petersen, r...","""Police Chief Quits,"" Washington Post, January...","""Cairo Police Chief Quits; Decries Local 'Mili...","Christopher Hewitt, ""Political Violence and Te...",Hewitt Project,-9,-9,0,-9,None
6,197001020001,1970,1,2,No,None,218,Uruguay,3,South America,...,None,None,None,None,PGIS,0,0,0,0,None
7,197001020002,1970,1,2,No,None,217,United States,1,North America,...,"Damages were estimated to be between $20,000-$...",Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",None,Hewitt Project,-9,-9,0,-9,None
8,197001020003,1970,1,2,No,None,217,United States,1,North America,...,The New Years Gang issue a communiquÃ© to a loc...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...","The Wisconsin Cartographers' Guild, ""Wisconsin...",Hewitt Project,0,0,0,0,None

In [25]:
df['crit1'].replace(0, 'No',inplace=True)
df['crit1'].replace(1, 'Yes',inplace=True)
df['crit2'].replace(0, 'No',inplace=True)
df['crit2'].replace(1, 'Yes',inplace=True)
df['crit3'].replace(0, 'No',inplace=True)
df['crit3'].replace(1, 'Yes',inplace=True)

In [26]:
df['doubtterr'].replace(0, 'No',inplace=True)
df['doubtterr'].replace(1, 'Yes',inplace=True)

In [27]:
df['multiple'].replace(0, 'No',inplace=True)
df['multiple'].replace(1, 'Yes',inplace=True)

In [29]:
df['vicinity'].replace(0, 'No',inplace=True)
df['vicinity'].replace(1, 'Yes',inplace=True)

In [30]:
df['success'].replace(0, 'No',inplace=True)
df['success'].replace(1, 'Yes',inplace=True)

In [31]:
df['suicide'].replace(0, 'No',inplace=True)
df['suicide'].replace(1, 'Yes',inplace=True)

In [32]:
df['guncertain1'].replace(0, 'No',inplace=True)
df['guncertain1'].replace(1, 'Yes',inplace=True)
df['guncertain2'].replace(0, 'No',inplace=True)
df['guncertain2'].replace(1, 'Yes',inplace=True)
df['guncertain3'].replace(0, 'No',inplace=True)
df['guncertain3'].replace(1, 'Yes',inplace=True)

In [33]:
df['claimed'].replace(0, 'No',inplace=True)
df['claimed'].replace(1, 'Yes',inplace=True)

In [34]:
df['compclaim'].replace(0, 'No',inplace=True)
df['compclaim'].replace(1, 'Yes',inplace=True)
df['compclaim'].replace(-9, 'Unknown',inplace=True)

In [35]:
df['claim2'].replace(0, 'No',inplace=True)
df['claim2'].replace(1, 'Yes',inplace=True)

In [36]:
df['claimmode2'].replace(1, 'Letter',inplace=True)
df['claimmode2'].replace(2, 'Call(post-incident)',inplace=True)
df['claimmode2'].replace(3, 'Call(pre-incident)',inplace=True)
df['claimmode2'].replace(4, 'E-mail',inplace=True)
df['claimmode2'].replace(5, 'Note left at scene',inplace=True)
df['claimmode2'].replace(6, 'Video',inplace=True)
df['claimmode2'].replace(7, 'Posted to website, blog, social media',inplace=True)
df['claimmode2'].replace(8, 'Personal claim',inplace=True)
df['claimmode2'].replace(9, 'Other',inplace=True)
df['claimmode2'].replace(10, 'Unknown',inplace=True)

In [37]:
df['claim3'].replace(0, 'No',inplace=True)
df['claim3'].replace(1, 'Yes',inplace=True)

In [38]:
df['claimmode3'].replace(1, 'Letter',inplace=True)
df['claimmode3'].replace(2, 'Call(post-incident)',inplace=True)
df['claimmode3'].replace(3, 'Call(pre-incident)',inplace=True)
df['claimmode3'].replace(4, 'E-mail',inplace=True)
df['claimmode3'].replace(5, 'Note left at scene',inplace=True)
df['claimmode3'].replace(6, 'Video',inplace=True)
df['claimmode3'].replace(7, 'Posted to website, blog, social media',inplace=True)
df['claimmode3'].replace(8, 'Personal claim',inplace=True)
df['claimmode3'].replace(9, 'Other',inplace=True)
df['claimmode3'].replace(10, 'Unknown',inplace=True)

In [39]:
df['property'].replace(0, 'No',inplace=True)
df['property'].replace(1, 'Yes',inplace=True)
df['property'].replace(-9, 'Unknown',inplace=True)

In [40]:
df['ishostkid'].replace(0, 'No',inplace=True)
df['ishostkid'].replace(1, 'Yes',inplace=True)
df['ishostkid'].replace(-9, 'Unknown',inplace=True)

In [43]:
df['ransom'].replace(0, 'No',inplace=True)
df['ransom'].replace(1, 'Yes',inplace=True)
df['ransom'].replace(-9, 'Unknown',inplace=True)

In [44]:
df['INT_LOG'].replace(0, 'No',inplace=True)
df['INT_LOG'].replace(1, 'Yes',inplace=True)
df['INT_LOG'].replace(-9, 'Unknown',inplace=True)

In [45]:
df['INT_IDEO'].replace(0, 'No',inplace=True)
df['INT_IDEO'].replace(1, 'Yes',inplace=True)
df['INT_IDEO'].replace(-9, 'Unknown',inplace=True)

In [46]:
df['INT_MISC'].replace(0, 'No',inplace=True)
df['INT_MISC'].replace(1, 'Yes',inplace=True)
df['INT_MISC'].replace(-9, 'Unknown',inplace=True)

In [47]:
df['INT_ANY'].replace(0, 'No',inplace=True)
df['INT_ANY'].replace(1, 'Yes',inplace=True)
df['INT_ANY'].replace(-9, 'Unknown',inplace=True)

In [48]:
del df["country"]
del df["claimmode"]
del df["propextent"]
del df["natlty3"]
del df["targsubtype3"]
del df["targtype3"]
del df["natlty2"]
del df["targsubtype2"]
del df["targtype2"]
del df["natlty1"]
del df["targsubtype1"]
del df["targtype1"]
del df["weapsubtype4"]
del df["weaptype4"]
del df["weapsubtype3"]
del df["weaptype3"]
del df["weapsubtype2"]
del df["weaptype2"]
del df["weapsubtype1"]
del df["weaptype1"]
del df["attacktype3"]
del df["attacktype2"]
del df["attacktype1"]
del df["region"]
del df["alternative"]

In [62]:
df[df.columns[12]].replace("None", 0,inplace=True)
df[df.columns[53]].replace("None", 0,inplace=True)
df[df.columns[54]].replace("None", 0,inplace=True)
df[df.columns[74]].replace("None", 0,inplace=True)
df[df.columns[77]].replace("None", 0,inplace=True)

In [64]:
df.to_csv("Terrorism_cleaned.csv", encoding='utf-8',index=False)

In [65]:
df1=pd.read_csv("C:/Users/Swarupa/Desktop/Terrorism_cleaned.csv")

In [66]:
df1.head()

,eventid,iyear,imonth,iday,extended,resolution,country_txt,region_txt,provstate,city,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,No,None,Dominican Republic,Central America & Caribbean,None,Santo Domingo,...,None,None,None,None,PGIS,No,No,No,No,None
1,197001010002,1970,1,1,No,None,United States,North America,Illinois,Cairo,...,"The Cairo Chief of Police, William Petersen, r...","""Police Chief Quits,"" Washington Post, January...","""Cairo Police Chief Quits; Decries Local 'Mili...","Christopher Hewitt, ""Political Violence and Te...",Hewitt Project,Unknown,Unknown,No,Unknown,None
2,197001020001,1970,1,2,No,None,Uruguay,South America,Montevideo,Montevideo,...,None,None,None,None,PGIS,No,No,No,No,None
3,197001020002,1970,1,2,No,None,United States,North America,California,Oakland,...,"Damages were estimated to be between $20,000-$...",Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",None,Hewitt Project,Unknown,Unknown,No,Unknown,None
4,197001020003,1970,1,2,No,None,United States,North America,Wisconsin,Madison,...,The New Years Gang issue a communiquÃ© to a loc...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...","The Wisconsin Cartographers' Guild, ""Wisconsin...",Hewitt Project,No,No,No,No,None

In [ ]:
#Done